streamlit
groq
huggingface_hub
Pillow
PyMuPDF
duckduckgo-search
googlesearch-python
edge-tts
streamlit-mic-recorder
SpeechRecognition
pydub
pytz
beautifulsoup4
requests
opencv-python-headless
moviepy
